gmon.out
*.swp
tags
Session.vim
compile_commands.json
setUpFiles.txt
designUML
.vdcode/*
*.srctrlbm
*.srctrldb
*.srctrlprj
W_cmake_command.txt
toDo.txt
.vscode
.cache
.DS_Store
input/syntetic/*/*
tool/tests/bl_master/bl_master100k.vcd
tool/examples/sobel/ass.txt
tool/syntetic_gen/temp/*
tool/third_party/spot
tool/third_party/ltlsynt
tool/third_party/antlr4
tool/third_party/boost
tool/third_party/z3
tool/third_party/gedlib
tool/third_party/oss-cad-suite
tool/third_party/hifsuite_linux_x86_stand_alone
tool/third_party/radarChartPlotter
tool/src/miner/modules/src/traceReader/vcdTraceReader/pyVCDparser/vcdToC.pyc
tool/src/miner/modules/src/traceReader/vcdTraceReader/pyVCDparser/Verilog_VCD.pyc
tool/src/api/cpp/example/harm_example
tool/doc/html/*
tool/build/*
tool/install/*
tool/.cache/*
.cache/*
miners/tools/harm/runs/*
miners/tools/texada/runs/*
miners/tools/goldminer/runs/*
miners/tools/samples2ltl/runs/*
miners/tools/external/runs/*
miners/tools/gemini-flash/runs/*
tool/syntetic_gen/hif_sim/complete
tool/syntetic_gen/hif_sim/syntetic_design*
tool/syntetic_gen/hif_sim/rtl/*
tool/syntetic_gen/hif_sim/injected/inc
tool/syntetic_gen/hif_sim/injected/src/muffin
tool/syntetic_gen/hif_sim/injected/src/*.cpp
tool/syntetic_gen/hif_sim/injected/CMakeLists.txt
tool/syntetic_gen/hif_sim/traces





input/And/
input/Eventually/
input/Next/
input/NextAnd/
input/Until/
miners/tools/gemini-flash/configurations/And/
miners/tools/gemini-flash/configurations/Eventually/
miners/tools/gemini-flash/configurations/NextAnd/
miners/tools/gemini-flash/configurations/Until/
miners/tools/goldminer/configurations/And/
miners/tools/goldminer/configurations/Eventually/
miners/tools/goldminer/configurations/Next/
miners/tools/goldminer/configurations/NextAnd/
miners/tools/goldminer/configurations/Until/
miners/tools/harm/configurations/And/
miners/tools/harm/configurations/Eventually/
miners/tools/harm/configurations/Next/
miners/tools/harm/configurations/NextAnd/
miners/tools/harm/configurations/Until/
miners/tools/samples2ltl/configurations/And/
miners/tools/samples2ltl/configurations/Eventually/
miners/tools/samples2ltl/configurations/Next/
miners/tools/samples2ltl/configurations/NextAnd/
miners/tools/samples2ltl/configurations/Until/
miners/tools/texada/configurations/And/
miners/tools/texada/configurations/Eventually/
miners/tools/texada/configurations/Next/
miners/tools/texada/configurations/NextAnd/
miners/tools/texada/configurations/Until/
tests/And_synthetic.xml
tests/Eventually_synthetic.xml
tests/NextAnd_synthetic.xml
tests/Next_synthetic.xml
tests/Until_synthetic.xml
tests/all_samples2ltl_synthetic.xml
