<harm>
  <context name="default">
    <prop exp="a_3" loc="dt"/>
    <prop exp="c_0" loc="dt"/>
    <prop exp="a_0" loc="dt"/>
    <prop exp="b_2" loc="dt"/>
    <prop exp="a_4" loc="dt"/>
    <prop exp="c_1" loc="dt"/>
    <prop exp="b_0" loc="dt"/>
    <prop exp="m_0" loc="c"/>
    <prop exp="i_3" loc="c"/>
    <prop exp="d_0" loc="c"/>
    <prop exp="e_2" loc="c"/>
    <prop exp="j_2" loc="c"/>
    <prop exp="d_2" loc="c"/>
    <prop exp="n_1" loc="c"/>
    <prop exp="m_2" loc="c"/>
    <prop exp="g_2" loc="c"/>
    <prop exp="e_4" loc="c"/>
    <prop exp="g_4" loc="c"/>
    <prop exp="l_4" loc="c"/>
    <prop exp="n_3" loc="c"/>
    <prop exp="j_1" loc="c"/>
    <prop exp="l_1" loc="c"/>
    <prop exp="k_3" loc="c"/>
    <prop exp="f_3" loc="c"/>
    <prop exp="n_4" loc="c"/>
    <prop exp="n_0" loc="c"/>
    <prop exp="m_1" loc="c"/>
    <prop exp="l_0" loc="c"/>
    <prop exp="i_2" loc="c"/>
    <prop exp="d_3" loc="c"/>
    <prop exp="h_3" loc="c"/>
    <prop exp="d_1" loc="c"/>
    <prop exp="h_4" loc="c"/>
    <prop exp="i_0" loc="c"/>
    <prop exp="o_3" loc="c"/>
    <prop exp="k_2" loc="c"/>
    <prop exp="n_2" loc="c"/>
    <prop exp="h_1" loc="c"/>
    <prop exp="m_4" loc="c"/>
    <prop exp="f_0" loc="c"/>
    <prop exp="k_4" loc="c"/>
    <prop exp="o_0" loc="c"/>
    <prop exp="e_0" loc="c"/>
    <prop exp="j_0" loc="c"/>
    <prop exp="o_4" loc="c"/>
    <prop exp="g_0" loc="c"/>
    <prop exp="f_4" loc="c"/>
    <prop exp="m_3" loc="c"/>
    <prop exp="i_1" loc="c"/>
    <prop exp="o_2" loc="c"/>
    <prop exp="h_0" loc="c"/>
    <prop exp="d_4" loc="c"/>
    <prop exp="k_0" loc="c"/>
    <prop exp="g_3" loc="c"/>
    <prop exp="e_1" loc="c"/>
    <prop exp="k_1" loc="c"/>
    <prop exp="h_2" loc="c"/>
    <prop exp="e_3" loc="c"/>
    <prop exp="o_1" loc="c"/>
    <template dtLimits="3A,1E,O" exp="G(..#1&.. |-> P0)" />
    <sort name="causality" exp="1-afct/traceLength"/>
    <sort name="frequency" exp="atct/traceLength"/>
  </context>
</harm>
