<harm>
  <context name="default">
    <prop exp="b_2" loc="dt"/>
    <prop exp="c_0" loc="dt"/>
    <prop exp="a_3" loc="dt"/>
    <prop exp="c_2" loc="dt"/>
    <prop exp="b_1" loc="dt"/>
    <prop exp="c_1" loc="dt"/>
    <prop exp="b_4" loc="dt"/>
    <prop exp="b_3" loc="dt"/>
    <prop exp="a_4" loc="dt"/>
    <prop exp="a_0" loc="dt"/>
    <prop exp="b_0" loc="dt"/>
    <prop exp="d_2" loc="c"/>
    <prop exp="e_0" loc="c"/>
    <prop exp="f_0" loc="c"/>
    <prop exp="d_0" loc="c"/>
    <prop exp="d_4" loc="c"/>
    <prop exp="e_3" loc="c"/>
    <prop exp="d_1" loc="c"/>
    <template dtLimits="3A,1E,O" exp="G(..#1&.. |-> P0)" />
    <sort name="causality" exp="1-afct/traceLength"/>
    <sort name="frequency" exp="atct/traceLength"/>
  </context>
</harm>
