final_design
temp
hif_sim/complete
hif_sim/syntetic_design*
hif_sim/rtl/*
hif_sim/injected/inc
hif_sim/injected/src/muffin
hif_sim/injected/src/*.cpp
hif_sim/injected/CMakeLists.txt
hif_sim/traces
synthetic_gen_output
gmon.out 
src/__pycache__
hif_sim/injected/
hif_sim/synthetic_design.ddt.a2t.hif.xml
hif_sim/synthetic_design.ddt.a2t.muffin.hif.xml
hif_sim/synthetic_design.ddt.hif.xml
hif_sim/synthetic_design.hif.xml
